<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="col-md-2">.col-md-1</div>
<li *ngFor="let product of products">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{product.name}}</h3>
  </div>
  <div class="panel-body">
    <h1> Description : <small>{{product.description}}</small></h1>
    <h1> Price : <small>{{product.price}}</small></h1>
    <h1> image URL : <small>{{product.image_adress}}</small></h1>
    <h1> seller description : <small>{{product.Seller.description}}</small></h1>
    <h1> seller Size : <small>{{product.Seller.Size}}</small></h1>
  </div> seller Mark : <small>{{product.Seller.mark}}</small></h1>
</div>
</li>
</div>
</div>
